/**
* This acts as a css normalizer and alse overrides some other stuff so we don't have to in every
* component.  TODO: turn this into a grommet theme and merge it into the hpe theme that is in
* place before passing it to grommet
*/

body {
  /* user agent on chrome gives it 8px */
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.custom-icon {
  width: 35px;
  height: 35px;
  fill: #555555; /* dark-2 */
  display: inline;
  vertical-align: middle;
}

.complex-description-box p {
  font-style: italic;
}

.complex-carousel {
  order: 2;
}

.complex-general-info {
  order: 1
}

.complex-top {
  flex-direction: row;
}

/* smaller screens, display carousel on top of .complex-general-info */
@media screen and (max-width: 1024px) {
  .complex-top {
    flex-direction: column;
  }

  .complex-general-info {
    order: 3;
  }

  .header {
    padding: 0 50px;
  }

  .content {
    padding: 0 50px;
  }
}
